# Kuis Pandas

** Import pandas as pd **

In [1]:
import pandas as pd

df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
print (df)

** Tampilkan dari data dari file pandas.csv **

In [25]:
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')

,bulan,stasiun_pengisian_bahanbakar,jenis_bahanbakar,jumlah_penjualan,penerimaan_pajak
0,1,Pertamina,Bio Solar,55232675,16813838145
1,1,Pertamina,Solar,13531625,4631822667
2,1,Pertamina,Premium,148118500,46128488066
3,1,Pertamina,Pertalite,0,0
4,1,Pertamina,Pertamax,35750000,13041124794
...,...,...,...,...,...
151,12,Pertamina,Pertamax Racing,1000,2456522
152,12,Pertamina,BBG,66491,522521962
153,12,Total,Performance 92,808000,307719640
154,12,Total,Performance 95,184000,80281420
155,12,Total,Diesel,80000,34331008

** Tampilkan info dataframe menggunakan .info() **

In [4]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
bulan                           156 non-null int64
stasiun_pengisian_bahanbakar    156 non-null object
jenis_bahanbakar                156 non-null object
jumlah_penjualan                156 non-null int64
penerimaan_pajak                156 non-null int64
dtypes: int64(3), object(2)
memory usage: 6.2+ KB

** Tampilkan rata - rata jumlah penjualan **

In [1]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
std1 = df['jumlah_penjualan'].std()

print ('Rata - Rata jumlah_penjualan: ' + str(std1))

Rata - Rata jumlah_penjualan: 40434600.25782248

** Tampilkan maksimal dan minimal penerimaan_pajak **

In [9]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
std1 = df['penerimaan_pajak'].std()
print ('Max penerimaan_pajak: ' + str(max1))

49326967854

In [11]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
std1 = df['penerimaan_pajak'].std()
print ('Min penerimaan_pajak: ' + str(min1))

0

** Tampilkan jenis_bahanbakar dari stasiun_pengisian_bahanbakar Pertamina **

In [2]:
import pandas as pd 
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')

gkk = df.groupby (['stasiun_pengisian_bahanbakar', 'jenis_bahanbakar'])

gkk.first ()

                                               bulan  jumlah_penjualan  \
stasiun_pengisian_bahanbakar jenis_bahanbakar
Pertamina                    BBG                   1             89565
                             Bio Solar             1          55232675
                             Dexlite               1                 0
                             Pertalite             1                 0
                             Pertamax              1          35750000
                             Pertamax Plus         1           2516000
                             Pertamax Racing       1                 0
                             Pertamina Dex         1           1092000
                             Premium               1         148118500
                             Solar                 1          13531625
Total                        Diesel                1             80000
                             Performance 92        1            640000
                             Performance 95        1            120000

                                               penerimaan_pajak
stasiun_pengisian_bahanbakar jenis_bahanbakar
Pertamina                    BBG                      477756129
                             Bio Solar              16813838145
                             Dexlite                          0
                             Pertalite                        0
                             Pertamax               13041124794
                             Pertamax Plus           1018416074
                             Pertamax Racing                  0
                             Pertamina Dex            495904877
                             Premium                46128488066
                             Solar                   4631822667
Total                        Diesel                    34174912
                             Performance 92           233525282
                             Performance 95            48700405

** Tampilkan data yang penerimaan_pajaknya terbesar **

In [32]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
max1 = df['penerimaan_pajak'].max()
max2 = df['bulan'].max()
max3 = df['jumlah_penjualan'].max()

print ('Max Penerimaan Pajak : ' + str(max1))
print ('Bulan: ' + str(max2))
print ('Max Jumlah Penjualan : ' + str(max3))

,bulan,stasiun_pengisian_bahanbakar,jenis_bahanbakar,jumlah_penjualan,penerimaan_pajak
54,5,Pertamina,Premium,152646150,49326967854

** Tampilkan data rata - rata jumlah_penjualan dan penerimaan_pajak perbulan **

In [35]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')

df.describe()

       jumlah_penjualan  penerimaan_pajak
bulan
1          1.978234e+07      6.378750e+09
2          1.807754e+07      5.498319e+09
3          2.050384e+07      6.497834e+09
4          1.970387e+07      6.595338e+09
5          2.051530e+07      6.873613e+09
6          1.990238e+07      6.703365e+09
7          1.794975e+07      6.068822e+09
8          2.105408e+07      7.100888e+09
9          2.022046e+07      6.797098e+09
10         2.066132e+07      6.869025e+09
11         1.991948e+07      6.607325e+09
12         2.046425e+07      6.782211e+09

** Tampilkan stasiun_pengisian_bahanbakar apa saja yang ada di dataframe **

In [52]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')

df.to_numpy()[0]

array(['Pertamina', 'Total'], dtype=object)

** Tampilkan berapa banyak jenis_bahanbakar yang ada di dataframe **

In [39]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
count1 = df['jenis_bahanbakar'].count()

print ('Jenis Bahan Bakar : ' + str(count1))

13

** Tampilkan jumlah pertamina pada stasiun_pengisian_bahanbakar di bulan ke 1 **

In [51]:
import pandas as pd
df = pd.read_csv (r'C:\Users\user\Desktop\pandas.csv')
count1 = df['stasiun_pengisian_bahanbakar'].count()

print ('stasiun Bahan Bakar : ' + str(count1))

10